*{
  box-sizing: border-box;
}

body{
  background-color: #E5E5E5;
}

/*---------- Header ----------*/

header{
  width:100%;
  height: 92px;
  background-color: #CF2B2B;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);

  z-index: 1000;
}

header div{
  margin-left: 20px;
}

header h1{
  font-family: 'Righteous';
  font-weight: 400;
  font-size: 44px;
  color: #FFFFFF;
}

header h2{
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 18px;
  color: #FFFFFF;
}

/*---------- Secao Corpo da Pagina ----------*/

.Corpo-da-Pagina{
  width: 100%;
  background-color: #E5E5E5;
  margin-top: 92px;
  margin-bottom: 92px;
}

.Corpo-da-Pagina h2{
  font-size: 26px;
  font-family: 'Righteous';
  font-weight: 400;
  margin-bottom: 18px;
}

.Corpo-da-Pagina h3{
  color: #333333;
  width: 144px;
  margin-top: 12px;
  font-size: 16px;
  font-family: 'Roboto';
  font-weight: 700;
}

.descricao{
  color:#A6A6A6;
  width: 144px;
  margin-top: 12px;
  font-size: 15px;
  font-family: 'Roboto';
}

.valor{
  color: #000000;
  margin-top: 12px;
  margin-bottom: 14px;
  font-size: 16px;
  font-family: 'Roboto';
  font-weight: 500;
}

.Corpo-da-Pagina img{
  margin-top: 14px;
  width: 144px;
  height: 82px;
  border-radius: 4px;
}

/*---------- Secao Pratos ----------*/

.pratos{
  margin-top: 117px;
  margin-left: 12px;
}

.rollpratos{
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
  
.rollpratos::-webkit-scrollbar {
    display: none;
}

.prato{
  display: flex;
  flex-direction: column;
  align-items: center;

  min-width: 172px;
  border-radius: 9px;
  margin-right: 12px;
  background-color: #FFFFFF;

  box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);

  position: relative;
}

.prato ion-icon{
  display: none;
}


.prato div{
  width: 144px;
}

.prato:hover{
  cursor: pointer;
}

/*---------- Secao Bebidas ----------*/

.bebidas{
  margin-top: 25px;
  margin-left: 12px;
}

.rollbebidas{
  display: flex;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.rollbebidas::-webkit-scrollbar {
  display: none;
}

.bebida{
  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 9px;
  min-width: 172px;
  margin-right: 12px;
  background-color: #FFFFFF;

  box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);

  position: relative;
}

.bebida ion-icon{
  display: none;
}

.bebida div{
  width: 144px;
}

.bebida:hover{
  cursor: pointer;
}

/*---------- Secao Sobremesa ----------*/

.sobremesas{
  margin-top: 25px;
  margin-left: 12px;
  margin-bottom: 110px;
}

.rollsobremesas{
  display: flex;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.rollsobremesas::-webkit-scrollbar {
  display: none;
}

.sobremesa{
  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 9px;
  min-width: 172px;
  margin-right: 12px;
  background-color: #FFFFFF;

  box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);

  position: relative;
}

.sobremesa ion-icon{
  display: none;
}

.sobremesa div{
  width: 144px;
}

.sobremesa:hover{
  cursor: pointer;
}

/*---------- Footer ----------*/

footer{
  width:100%;
  height: 92px;
  background-color: #FFFFFF;
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.naofunciona{
  border: none;
  background: #CBCBCB;
  color: #FFFFFF;
  height: 61px;
  width: 364px;
  border-radius: 50px;
}

.funciona{
  border: none;
  background: #32B72F;
  color: #FFFFFF;
  height: 61px;
  width: 364px;
  border-radius: 50px;
}

.escondeBotao{
  display: none;
}

footer button:hover{
  cursor: pointer;
}

.clicado{
  border: 5px solid #32B72F;
}

.clicado ion-icon{
  display: flex;
  position: absolute;
  color:#32B72F;
  font-size: 20px;
  bottom: 5px;
  right: 5px;
}